body {
    background-color: #283655;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.App {
    background-color: #283655;
    height: 100vh;
    width: 100vw;
    display: flex;
}

form {
    display: flex;
    align-items: center;
    margin: 50px;
    padding: 50px;
    background-color: #4d648d;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

label {
    color: white;
    font-size: 20px;
}

input {
    background-color: #e5e5dc;
    border: 0px;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    color: black;
}

form button {
    height: 50px;
    width: 150px;
    background-color: orange;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    
}

input:focus {
    outline: none;
}

ul {
    background-color: #e5e5dc;
    margin: 100px;
    width: 100%;
    overflow-block: scroll;
}

li {
    color: black;
    text-decoration: none;
    font-size: 20px;
}